html, body {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  font-family: 'VT323', monospace;
  background-color: black;
  color: white;
}
.imgHeader {
  /*background-image: url("../img/headerHome.jpg");*/
  background-image: url("../img/fortlaramie.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 350px;
  width: 100%;
}
#trailScreen, #checkpointScreen, #deathScreen, #gameOverLoseScreen, #gameOverWinScreen {
  /*display: none;*/
}

#homeScreen {
  display: none;
}

.randomEvent {
  text-align: center;
  border: dotted 2px #00C100;
  height: 60px;
}

.statsBox {
  margin-top: 30px;
  border-top-style: dashed;
  border-right-style: dotted;
  border-bottom-style: dashed;
  border-color: #00C100;
  border-size: 3px;
  height: 500px;
}

input[type = "text"] {
  background-color: blue;
  border: dashed 1px;
  color: white;
  width: 300px;
}

label {
  font-size: 20px;
}

button:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}

button, span.continueOnTrail, .hunt, .rest, .heal, .mourn, .restartGame {
  color: black;
  background-color: #00C100;
  padding: 10px;
  margin-top: 10px;
  font-size: 25px;
  border-radius: 5px;
  border: solid 5px white;
}

#trailScreen {
  padding-top: 35px;
  padding-left: 35px;
}
